@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color:  #F9F9F9 !important;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.full-screen-minus-96 {
  height: calc(100vh - 96px);
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-SemiBold.ttf') format('truetype'); /* Assuming this is the file for weight 600 */
  font-weight: 600;
}
@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-SemiBold.ttf') format('truetype'); /* Assuming this is the file for weight 500 */
  font-weight: 500;
}

body {
  font-family: 'Matter', sans-serif !important;
}

.btn-primary{
  background: #20888F;
  font-weight: 600;
}
.btn-secondary{
  background: #303030;
  font-weight: 600;
}
